*{
  box-sizing: border-box;
}

body {
  height: 100vh;
} 

.header {
  background-color: #f4e1e1;
  padding: 20px;
  text-align: center;  
}

.header h1 {
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#todo-form input {
  height: 30px;
  width: 22%;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 10px;
}

#todo-form button {
  height: 30px;
  width: 10%;
  border: 1px solid #ccc;
  cursor: pointer;
}

#todo-form button:hover {
  background-color: #ccc;
}

#todo-form button:active {
  background-color: #aaa;
}  

#todo-form button:focus {
  outline: none;
}

#todo-list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 49.6%;
  margin: 0;
  padding: 0 ;
 
}

#todo-list li {
  list-style: none;
  padding: 10px;
  border: 1px solid #ccc;
  /* margin: 5px 0; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  /*this will make the list items unselectable*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#todo-list li:nth-child(even) {
    background: #f9f9f9;
  }

#todo-list li:hover {
  background-color: #ccc;
}

.aside {
    /* display: flex; */
    justify-content: center;
    background-color: #aaa;
    width: 48%;
    height: 100vh;
    /* float: right; */
    bottom: 294px;
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1rem;
    box-sizing: border-box;
    right: 8px;
    top: 212px;
}

/* this is for the checked items in the list */
.checked {
  text-decoration: line-through;
  color: #4CAF50;

}

.close {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.close:hover {
  color: black;
}

#delete-all {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

#delete-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 5px 20px;
}

#delete-all-btn:hover {
  background-color: #ccc;
}

#delete-all-btn:active {
  background-color: #aaa;
}